.btn {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 2rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 0px 8px var(--primary-opacity-4);
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }

  svg {
    margin-right: 0.2rem;
  }
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-opacity-1);
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 3rem;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }

  &.grey {
    color: var(--darken-4);
  }
}
