.btn {
  display: flex;
  align-items: center;
  height: 3.5rem;
  padding: 0 2rem;
  color: var(--text);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary);
  cursor: pointer;
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 0px 8px var(--primary-opacity-4);
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }

  svg {
    margin-right: 0.2rem;
  }
}

.btn-outline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  color: var(--primary);
  font-size: 1rem;
  font-weight: 700;
  background-color: var(--primary-opacity-1);
  cursor: pointer;
  border: 2px solid var(--primary);
  border-radius: 3rem;
  transition: opacity 0.4s;

  &:hover {
    opacity: 0.7;
  }

  &.grey {
    color: var(--darken-4);
  }
}

.dropdown {
  position: relative;
  & .btn {
    position: relative;
    height: 3rem;
    width: 3rem;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  & .circle {
    border-radius: 3rem;
  }

  &.--visible {
    .dropdown__menu {
      display: flex;
      flex-direction: column;
      z-index: 9999;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    top: 3.5rem;
    left: -2.3rem;
    list-style: none;
    padding: 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(0.8rem);
    border: 2px solid var(--darken-4);

    &__item {
      padding: 0;
      &__link {
        font-size: 0.9rem;
        font-weight: 900;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: var(--text);
      }
      & + & {
        margin-top: 0.6rem;
      }
    }
  }
}
