.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 249px;
  width: 100%;
  justify-content: center;
  background-color: var(--darken-2);
  border-radius: 2rem;
  border: 2px solid transparent;
  transition: border 0.2s;

  &:hover {
    border: 2px solid var(--primary);
    .card__actions__btn {
      transition: opacity 0.2s;
      svg {
        stroke: var(--primary);
      }
    }
  }

  &__avatar {
    margin-top: 1rem;
    height: 4.6875rem;
    width: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--darken-3);

    img {
      width: 4.475rem;
      height: auto;
    }
  }
  &__name {
    margin-top: 0.8rem;
    a {
      color: var(--text);
      font-weight: 900;
      font-size: 1rem;
      text-decoration: none;
      transition: all 0.2s;
      &:hover {
        color: var(--primary);
      }
    }
  }
  &__charge,
  &__age {
    color: var(--darken-4);
    font-weight: 500;
    font-size: 0.75rem;
  }
  &__charge {
    margin: 0.4rem 0;
  }
  &__age {
    font-size: 0.625rem;
  }

  &__actions {
    position: relative;
    width: 100%;
    margin-top: 1.8rem;
    padding: 0 2.5rem;
    display: flex;
    justify-content: space-between;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      height: 100%;
      width: 2px;
      border-radius: 2px;
      background-color: var(--darken-4);
    }

    &__btn {
      border: none;
      background-color: transparent;
      cursor: pointer;

      svg {
        stroke: var(--darken-4);
      }
    }
  }
}

.list-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  &__item {
    padding: 0 0.5rem;
    list-style: none;
    max-width: 12rem;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
  }
}
