* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #fafafa;
  color: #212121;
}

h1 {
  font-size: 3rem;
  color: red;
}
